html, body {
  height: 100%;
}

body {
	padding: 0;
	margin: 0;
}
.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-canvas {
	margin: 0 0 50px 0;
	position: relative;
}

.btn {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px;
}

.btn-select-level {
	top: calc(40% - 10px);
}

.btn-restart {
	top: calc(25% - 10px);
}

.canvas {
	height: auto !important;
	width: 80% !important;	
}
input {
	margin-left: 30px;
}