html, body {
  height: 100%;
}

body {
	padding: 0;
	margin: 0;
}
.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-canvas {
	margin: 0 0 50px 0;
	position: relative;
}

.btn {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px;
}

.btn-select-level {
	top: calc(40% - 10px);
}

.btn-restart {
	top: calc(25% - 10px);
}

.canvas {
	height: auto !important;
	width: 80% !important;	
}
input {
	margin-left: 30px;
}

.wrapper-start-menu {
	position: absolute;
	width: 80%;
	height: 70%;
	top: 15%;
}

.start-menu {
	position: relative;
	width: 80%;
	height: 100%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
}

.start-menu-item {
	margin: 0 15px;
	display: flex;
	flex-direction: column;
  justify-content: center;
}

.btn-start {
	width: 120px;
	cursor: pointer;
}

.wrapper-level {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	position: relative;
}

.wrapper-level > img {
	width: 30px;
} 

.wrapper-level > .level {
	margin: 0;
	height: 45px;
}

.wrapper-level > .level > img.tag-circle {
	width: 120px;
	height: 100%;
}

.wrapper-level > .level > p.level-text {
	margin: 0;
	color: white;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	top: 40px;
	left: 29.48px;
}